[Desktop Entry]
Type=Application
Name=Manage applications
Exec=/usr/bin/invoker --type=m /usr/bin/package-manager-ui -show-page installations
X-MeeGo-Logical-Id=qtn_pmgr_plug_pmgr
X-MeeGo-Translation-Catalog=packagemanager

[DCP]
Category=Manage applications
Order=0
WidgetType=Label




