Package: package-manager-ui
Version: 1.3.4+0m14-pwned
Architecture: armel
Maintainer: Antti Harju <antti.harju@ixonos.com>
Depends: libc6 (>= 2.4), libduicontrolpanel, libgcc1 (>= 1:4.1.1), libmeegotouchcore0 (>= 0.23.62-1), libmeegotouchextensions0, libmeegotouchsettings0, libmngfclient0 (>= 0.1.2-1+0m6), libpackage-manager-dbus-qt0 (>= 0.2.4), libqmsystem2, libqt4-dbus (>= 4.7.4~git20120307), libqtcore4 (>= 4.7.4~git20120307), libqtgui4 (>= 4.7.4~git20120307), libstdc++6 (>= 4.4.0), libtimed0 (>= 2.37), libx11-6 (>= 0), applauncherd
Section: misc
Priority: optional
Description: Package manager UI for managing user installed packages.
 The Package manager is a UI package-manager.  It allows
 you to manage a subset of the installed and available packages.
